<h1>Search Results</h1>


<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Species</th>
          <th scope="col">Gender</th>
          <th scope="col">Color</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
      	<% if @animal.blank? %>
 		 <%= "Such animal can't be found" %>
		<% else %>
		 <tr>
 		 <% @animal.each do |animal| %>
 		   <td><%= animal.species %></td>
		   <td><%= animal.gender %></td>
		   <td><%= animal.color %></td>
		   <td><%= animal.quantity %></td>
		 </tr>
         <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



